In [1]:
x=[1,2,3]
y=[4,5,6]
#about zip function
#zip() makes the pairs of arguments that have passed
for i in zip(x,y):
    print(i)
result=0

#lets perform a operation without numpy

for j,k in zip(x,y):
    result=result + j*k
print(result)

(1, 4)
(2, 5)
(3, 6)
32

WE CAN DO THIS VERY EASILY USING NUMPY ARRAYS SO LETS MOVE TO NUMPY because numpy functions are written in c++ so makes it faster than normal python looops and functions

In [2]:
import numpy as np
x=np.array([1,2,3])
y=np.array([4,5,6])
#lets perform above operation easily using numpy
print(np.dot(x,y))
#other way numpy suppport arithmetic also
(x*y).sum()

32

32

we can make 1d 2d 3d any dimensional array in numpy and can check them using .shape ex-

In [3]:
climate_data=np.array([[34,54,56]
                       ,[45,65,67]
                       ,[54,34,23]
                       ,[23,54,76],
                       [67,23,56]])
climate_data.shape
#so its a 2d

(5, 3)

In [4]:
# 3D array 
arr3 = np.array([
    [[11, 12, 13], 
     [13, 14, 15]],

    
    [[15, 16, 17], 
     [17, 18, 19.5]]])
arr3.shape

(2, 2, 3)

ALL THE ELEMENTS IN NUMPY ARRAY SHOULD HAVE SAME DATATYPE CAN BE CHECKED BY .dtype for ex-
and if any no. is float then all changes to float

In [5]:
weights=np.array([1,2,3])
weights.dtype

dtype('int32')

MATRIX MULTIPLICATION in python using numpy

In [6]:
print(np.matmul(climate_data,weights))

[310 376 191 359 281]

In [7]:
print(climate_data @ weights)# another way for matrix multiplication

[310 376 191 359 281]

working with csv files

In [8]:
import urllib.request
urllib.request.urlretrieve('https://gist.github.com/BirajCoder/a4ffcb76fd6fb221d76ac2ee2b8584e9/raw/4054f90adfd361b7aa4255e99c2e874664094cea/climate.csv', 
    'climate.txt')

('climate.txt', <http.client.HTTPMessage at 0x1f1943c82d0>)

numpy.genfromtxt(fname, dtype=float, delimiter=None, skip_header=0, names=True)
 function is used to load data from a text file into a NumPy array. 
fname: The file name or a file-like object containing the data.
dtype: Data type of the resulting array. By default, it's set to float, but you can specify other data types.
delimiter: The delimiter used in the text file to separate values. If not specified, whitespace is used as the default.
skip_header: Number of lines to skip at the beginning of the file.
names: If True, the first row is assumed to be column names. This parameter is used to create structured arrays with named fields.

In [9]:
climate_datas=np.genfromtxt('climate.txt', dtype=float, delimiter=",", skip_header=1)

In [10]:

climate_datas.shape
yields=climate_datas @ weights
print(yields)
print(yields.shape)

[474. 379. 380. ... 397. 485. 398.]
(10000,)

NOW WE WANT TO ADD A COLUMNS IN CLIMATE DATAS A 4TH COLUMN THAT CAN BE DONE BY CONCATENATING
[temperature,rainfall,humidity] ==>> [temperature,rainfall,humidity,YIELD]

In [11]:
climate_results=np.concatenate((climate_datas,yields.reshape(10000,1)),axis=1)
climate_results

array([[ 25.,  76.,  99., 474.],
       [ 39.,  65.,  70., 379.],
       [ 59.,  45.,  77., 380.],
       ...,
       [ 99.,  62.,  58., 397.],
       [ 70.,  71.,  91., 485.],
       [ 92.,  39.,  76., 398.]])

RESHAPE IN NUMPY
original_array = np.array([1, 2, 3, 4, 5, 6])
new_array = original_array.reshape((2, 3))
array([[1, 2, 3],
       [4, 5, 6]])

IMPORTANT NOTES:
The total number of elements in the original array must match the total number of elements in the new shape. For example, the original array had 6 elements, and the new shape (2, 3) also results in 6 elements.

Reshaping doesn't modify the original array; it returns a new array with the specified shape.

The dimensions in the new shape must be compatible with the total number of elements. In other words, the product of the dimensions in the new shape must be equal to the total number of elements in the original array.

numpy.savetxt(fname, X, fmt='%.18e', delimiter=' ', newline='\n', header='', footer='', comments='# ')

note::
fname: The name of the file to which the data will be saved.
X: The data (usually a NumPy array) that you want to save to the file.
fmt: A string specifying the format of the data in the text file. It uses C-style formatting codes. The default is '%.18e', which represents a floating-point number in scientific notation.
delimiter: The delimiter used to separate values in the file. The default is a space.
newline: The string that separates lines in the file. The default is a newline character ('\n').
header: A string that is written at the beginning of the file.
footer: A string that is written at the end of the file.
comments: A string used to indicate comment lines. The default is '#'.

In [12]:
np.savetxt('climate_results.txt',climate_results,fmt='%.2f',header='temperature,rainfall,humidity,yeild_apples',comments='')

Arithmetic operations on Numpy arrays

In [17]:
ar1=np.array([[1,2,3,4],[3,5,6,7]])
ar2=np.array([[7,8,9,7],[1,2,3,4]])
print(ar1 + 3)#add 3 to every element
print(ar1 + ar2)# add elements corresponding to each other element wise

[[ 4  5  6  7]
 [ 6  8  9 10]]
[[ 8 10 12 11]
 [ 4  7  9 11]]

Numpy supports broadcasting also.allow arithmetic operations bw two array have a diff number of dimensions for ex-->

In [23]:
ar3=np.array([1,1,1,1])
print(ar1.shape)
print(ar3.shape)
#ar3 will replicate itself to become shape(2,4) and then add to ar1
#but shape should be compatible so can be replicated 
print(ar1+ar3)

(2, 4)
(4,)
[[2 3 4 5]
 [4 6 7 8]]

NUMPY also supports comparison operators like ==,!=,> etc and result is array of booleans

In [30]:
print(ar1==ar2)
print(ar1!=ar2)
print(ar1>ar2)
print(ar1<ar2)
(ar1==ar2).sum() #gives how many elements are equal true=1 false=0

[[False False False False]
 [False False False False]]
[[ True  True  True  True]
 [ True  True  True  True]]
[[False False False False]
 [ True  True  True  True]]
[[ True  True  True  True]
 [False False False False]]

0

Array Indexing and Slicing

In [38]:
arr4 = np.array([
    [[11, 12, 13, 14], 
     [13, 14, 15, 19]], 
    
    [[15, 16, 17, 21], 
     [63, 92, 36, 18]], 
    
    [[98, 32, 81, 23],      
     [17, 18, 19.5, 43]]])
print(arr4.shape)
print(arr4[0,0,1])
print(arr4[0])
print(arr4[0,1])

(3, 2, 4)
12.0
[[11. 12. 13. 14.]
 [13. 14. 15. 19.]]
[13. 14. 15. 19.]

random.rand(3) generates random numbers from a uniform distribution in the interval [0, 1].
random.randn(2, 3) generates random numbers from a standard normal distribution with mean 0 and standard deviation 1.

In [41]:
print(np.random.rand(2,4))
print(np.random.randn(2,4))

[[0.47669817 0.57029857 0.43414996 0.67169223]
 [0.87885072 0.4069993  0.30030415 0.02899067]]
[[-1.63723197 -1.06778428  0.15600881  0.40803191]
 [-0.3873773  -0.15669139 -1.79938273 -1.88573076]]

In [43]:
print(np.full([2,3],42))#creates a array with each value 42

[[42 42 42]
 [42 42 42]]

In [53]:
#Range with start,end and step
ar5=np.arange(7,40,2)
print(ar5)
#creating 2d array with arange
ar6=np.arange(0,6)#[0,1,2,3,4,5]
print(np.arange(0,6).reshape(2,3))

[ 7  9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39]
[[0 1 2]
 [3 4 5]]

In [54]:
#equally spaced numbers in a range 
np.linspace(3,27,5)

array([ 3.,  9., 15., 21., 27.])