In [17]:
x=[1,2,3]
y=[4,5,6]
#about zip function
#zip() makes the pairs of arguments that have passed
for i in zip(x,y):
    print(i)
result=0

#lets perform a operation without numpy

for j,k in zip(x,y):
    result=result + j*k
print(result)

(1, 4)
(2, 5)
(3, 6)
32

WE CAN DO THIS VERY EASILY USING NUMPY ARRAYS SO LETS MOVE TO NUMPY because numpy functions are written in c++ so makes it faster than normal python looops and functions

In [18]:
import numpy as np
x=np.array([1,2,3])
y=np.array([4,5,6])
#lets perform above operation easily using numpy
print(np.dot(x,y))
#other way numpy suppport arithmetic also
(x*y).sum()

32

32

we can make 1d 2d 3d any dimensional array in numpy and can check them using .shape ex-

In [22]:
climate_data=np.array([[34,54,56]
                       ,[45,65,67]
                       ,[54,34,23]
                       ,[23,54,76],
                       [67,23,56]])
climate_data.shape
#so its a 2d

(5, 3)

In [28]:
# 3D array 
arr3 = np.array([
    [[11, 12, 13], 
     [13, 14, 15]],

    
    [[15, 16, 17], 
     [17, 18, 19.5]]])
arr3.shape

(2, 2, 3)

ALL THE ELEMENTS IN NUMPY ARRAY SHOULD HAVE SAME DATATYPE CAN BE CHECKED BY .dtype for ex-
and if any no. is float then all changes to float

In [29]:
weights=np.array([1,2,3])
weights.dtype

dtype('int32')

MATRIX MULTIPLICATION in python using numpy

In [32]:
print(np.matmul(climate_data,weights))

[310 376 191 359 281]

In [34]:
print(climate_data @ weights)# another way for matrix multiplication

[310 376 191 359 281]

working with csv files

In [36]:
import urllib.request
urllib.request.urlretrieve('https://gist.github.com/BirajCoder/a4ffcb76fd6fb221d76ac2ee2b8584e9/raw/4054f90adfd361b7aa4255e99c2e874664094cea/climate.csv', 
    'climate.txt')

('climate.txt', <http.client.HTTPMessage at 0x233ea3c4c10>)

numpy.genfromtxt(fname, dtype=float, delimiter=None, skip_header=0, names=True)
 function is used to load data from a text file into a NumPy array. 
fname: The file name or a file-like object containing the data.
dtype: Data type of the resulting array. By default, it's set to float, but you can specify other data types.
delimiter: The delimiter used in the text file to separate values. If not specified, whitespace is used as the default.
skip_header: Number of lines to skip at the beginning of the file.
names: If True, the first row is assumed to be column names. This parameter is used to create structured arrays with named fields.

In [42]:
climate_datas=np.genfromtxt('climate.txt', dtype=float, delimiter=",", skip_header=1)

In [49]:

climate_datas.shape
yields=climate_datas @ weights
print(yields)
print(yields.shape)

[474. 379. 380. ... 397. 485. 398.]
(10000,)

NOW WE WANT TO ADD A COLUMNS IN CLIMATE DATAS A 4TH COLUMN THAT CAN BE DONE BY CONCATENATING
[temperature,rainfall,humidity] ==>> [temperature,rainfall,humidity,YIELD]

In [55]:
climate_results=np.concatenate((climate_datas,yields.reshape(10000,1)),axis=1)
climate_results

array([[ 25.,  76.,  99., 474.],
       [ 39.,  65.,  70., 379.],
       [ 59.,  45.,  77., 380.],
       ...,
       [ 99.,  62.,  58., 397.],
       [ 70.,  71.,  91., 485.],
       [ 92.,  39.,  76., 398.]])

RESHAPE IN NUMPY
original_array = np.array([1, 2, 3, 4, 5, 6])
new_array = original_array.reshape((2, 3))
array([[1, 2, 3],
       [4, 5, 6]])

IMPORTANT NOTES:
The total number of elements in the original array must match the total number of elements in the new shape. For example, the original array had 6 elements, and the new shape (2, 3) also results in 6 elements.

Reshaping doesn't modify the original array; it returns a new array with the specified shape.

The dimensions in the new shape must be compatible with the total number of elements. In other words, the product of the dimensions in the new shape must be equal to the total number of elements in the original array.
https://www.youtube.com/watch?v=GPVsHOlRBBI
2.52